<%- include("../partials/header", {title: "[zMD] Create Redirect Link", description: "Page to create the link to redirect.", panel: false, redirect: false}) %>
<body>
    <main class="container mt-3">
        <input id="link" class="form-control" type="url" placeholder="Link here">
        <input id="pass" class="form-control mt-2" type="password" placeholder="APP Password">
        <input id="predefined" class="form-control mt-2" type="text" placeholder="Predefined ID!">
        <input id="textbox" class="form-control mt-2" type="textarea" placeholder="Text Content">
        <input id="timer" class="form-control mt-2 mb-2" type="number" min="0" placeholder="0 or Empty = Non-Expirable Link (minutes)">
        <input id="overwrite" class="form-check-input" type="checkbox" value="" checked>
        <label class="form-check-label" for="overwrite">Allow Overwrite</label>
        <button id="createButton" class="btn btn-primary form-control mt-3">Create!</button>
        <div id="alert" class="alert alert-success mt-3 d-none text-center" role="alert"></div>

    </main>
    <%- include("../partials/scripts") %>
    <script>

        const alert          = document.querySelector("#alert");
        const password       = document.querySelector("#pass");
        const link           = document.querySelector("#link");
        const timer          = document.querySelector("#timer");
        const predefined     = document.querySelector("#predefined");
        const allowOverwrite = document.querySelector("#overwrite");
        const createButton   = document.querySelector("#createButton");
        const textBox        = document.querySelector("#textbox");
        const savedPass      = localStorage.getItem("pass");
        var lastUrl;
        if(savedPass) {
            password.value = savedPass;
        }

        password.onchange = (evt) => {
            localStorage.setItem("pass", evt.target.value)
        }

        createButton.onclick = () => {
            let linkValue = link.value;
            let timerValue = parseInt(timer.value);
            if(!linkValue) return alertStatus(0, "Invalid URL!");
            let infinite = false;
            if(!timerValue) infinite = true;
            axios.post("/<%= createRoute %>", {redirect: linkValue, password: password.value, timer: timerValue, infinite, predefinedName: predefined.value, overwrite: allowOverwrite.checked, textContent: textBox.value}).then(async res => {
                if(res.data.status) {
                    let url = (window.location.href + "/").replace("/<%= createRoute %>/", "/<%= redirectRoute %>/") + res.data.id;
                    lastUrl = url;
                    copyText(url).then(() => alertStatus(1, "O link gerado foi copiado!\n" + url)).catch(err => alertStatus(0, err));
                } else {
                    lastUrl = "";
                    alertStatus(0, res.data.message)
                }
            }).catch(err => console.log(err));
        };

        alert.onclick = async () => {
            if(!lastUrl) return;
            try {
                copyText(lastUrl);
                alertStatus(1, "Link Copiado!\n"+lastUrl);
            } catch(err) {
                alertStatus(0, err);
            }
            
        };

    </script>
</body>
</html>